<app-nav-doc-edit
  *ngIf="!sharedUser"
  (btnClick)="onBtnSave()"
  (shareClick)="onShareNav()"
></app-nav-doc-edit>

<app-shared-nav-doc-edit *ngIf="sharedUser"></app-shared-nav-doc-edit>

<div class="mat-spinner" *ngIf="loading">
  <mat-spinner mode="indeterminate"></mat-spinner>
</div>

<form
  *ngIf="!loading"
  #form
  [formGroup]="addForm"
  (ngSubmit)="onSave(null, addForm.value)"
>
  <div class="formField">
    <div class="mat-form-field">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Title</mat-label>
        <input
          #input
          type="text"
          matInput
          formControlName="title"
          [readonly]="sharedUser"
        />
      </mat-form-field>
      <section>
        <div class="example-button-row">
          <button
            role="button"
            mat-stroked-button
            style="font-weight: 1000"
            title="Bold"
            (click)="onBold($event)"
          >
            b
          </button>
          <button
            #ctrlZBtn
            mat-stroked-button
            role="button"
            title="Undo"
            (click)="onCtrlZ($event)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="iconArrow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
              />
            </svg>
          </button>
          <button
            #ctrlYBtn
            role="button"
            mat-stroked-button
            title="Redo"
            (click)="onCtrlY($event)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="iconArrow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3"
              />
            </svg>
          </button>
        </div>
      </section>
    </div>
    <mat-form-field class="textarea" appearance="outline">
      <textarea
        [value]="remoteText"
        #textarea
        matInput
        formControlName="content"
        (click)="updateButtonStates()"
        (input)="updateButtonStates()"
        (keyup)="onKeyUp($event, textarea)"
        (input)="onTextChange($event)"
      ></textarea>
    </mat-form-field>
  </div>
</form>

<app-share-dialog #dialog *ngIf="!loading"></app-share-dialog>
