<app-nav-doc-edit (btnClick)="onBtnSave()"></app-nav-doc-edit>

<form #form [formGroup]="addForm" (ngSubmit)="onSave(addForm.value)">
  <div class="formField">
    <div class="mat-form-field">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <section>
        <div class="example-button-row">
          <button
            role="button"
            mat-stroked-button
            style="font-weight: 1000"
            title="Bold"
            (click)="onBold()"
          >
            b
          </button>
          <button
            mat-stroked-button
            role="button"
            title="CtrlZ"
            (click)="onCtrlZ()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="iconArrow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
              />
            </svg>
          </button>
          <button
            role="button"
            mat-stroked-button
            title="CtrlY"
            (click)="onCtrlY()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="iconArrow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3"
              />
            </svg>
          </button>
        </div>
      </section>
    </div>
    <mat-form-field class="textarea" appearance="outline">
      <textarea
        type="text"
        #textarea
        matInput
        formControlName="content"
      ></textarea>
    </mat-form-field>
  </div>
</form>
