.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
}

.inputForm {
  width: 60%;
}

mat-form-field {
  width: 70%;
}

.mat-form-field {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.textarea {
  height: 100% !important;
  position: relative;
}

textarea {
  resize: none;
  height: 100% !important;
  position: relative;
  z-index: 1;
}

textarea.mdc-text-field__input {
  height: 70vh !important;
}

section {
  display: table;
}

.example-button-row {
  display: table-cell;
  width: 100%;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

button {
  border-radius: 5px;
}

textarea.mdc-text-field__input[_ngcontent-ng-c721102871] {
  height: 62vh !important;
}

.iconArrow {
  height: 1rem;
  width: 1rem;
  stroke-width: 1.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-spinner {
  position: absolute;
  top: 50%;
  right: 50%;
}

//-----------------------------------------------

.cursor-overlay {
  position: absolute;
  top: 10px; //textarea padding
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.selection-highlight {
  position: absolute;
  background-color: rgba(122, 122, 255, 0.529);
}

.selection-highlight.cursor {
  width: 2px;
  background-color: rgb(122, 122, 255);
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
}
