.doc-card,
.doc-card:visited {
  max-width: 250px !important;
  cursor: pointer;
  transition: all 0.2s;
  height: 10rem;

  &:hover,
  &:active {
    background-color: rgb(243, 243, 255);
  }

  &:hover .mat-icon-close {
    opacity: 100%;
  }
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13rem;
}

mat-card-header {
  height: 5rem !important;
}

.card-header {
  display: flex;
  flex-direction: row;
}

mat-card-subtitle {
  color: rgb(128, 123, 173) !important;
}

.mat-icon-close {
  opacity: 0;
  transition: all 0.1s;

  &:hover,
  &:visited {
    color: rgb(213, 58, 58);
  }
}

mat-checkbox {
  height: 1.7rem;
  width: 1.7rem;
}

a.nostyle:link,
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

app-delete-window {
  position: absolute;
  top: 50%;
  right: 50%;
}

//=====================================================

@mixin size-width($s, $w) {
  font-size: $s;
  width: $w;
}

@mixin height-width($h, $w) {
  height: $h;
  width: $w;
}

@media (max-width: 520px) {
  mat-card-title {
    @include size-width(110%, 10rem);
  }

  mat-card-subtitle,
  mat-card-content {
    @include size-width(80%, 10rem);
  }
  mat-card-header {
    @include height-width(4rem !important, 10rem);
    padding: 12px 12px 0;
  }

  .doc-card {
    @include height-width(7rem, 12rem);
  }
}

@media (max-width: 410px) {
  mat-card-title {
    @include size-width(110%, 8rem);
  }

  mat-card-subtitle,
  mat-card-content {
    @include size-width(80%, 8rem);
  }

  mat-card-header {
    @include height-width(4rem !important, 8rem);
    padding: 10px 10px 0;
  }

  .doc-card {
    @include height-width(7rem, 10rem);
  }
}

// .btn-delete {
//   color: rgb(194, 93, 93) !important;
// }
