.doc-card,
.doc-card:visited {
  max-width: 250px;
  cursor: pointer;
  transition: all 0.2s;
  height: 10rem;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13rem;
}

mat-card-header {
  height: 5rem !important;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.doc-card:hover,
.doc-card:active {
  background-color: rgb(243, 243, 255);
}

// .btn-delete {
//   color: rgb(194, 93, 93) !important;
// }

mat-card-subtitle {
  color: rgb(128, 123, 173) !important;
}

.mat-icon-close {
  opacity: 0;
  transition: all 0.1s;
}

.doc-card:hover .mat-icon-close {
  opacity: 100%;
}

.mat-icon-close:hover,
.mat-icon-close:visited {
  color: rgb(213, 58, 58);
}

mat-checkbox {
  height: 1.7rem;
  width: 1.7rem;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

app-delete-window {
  position: absolute;
  top: 50%;
  right: 50%;
}
