<mat-toolbar>
  <img
    src="https://img.icons8.com/?size=100&id=44053&format=png&color=000000"
    routerLink="/"
  />
  <span class="name" routerLink="/">CollabSphere</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="onSignUp(addForm.value)">
    <mat-form-field appearance="outline">
      <mat-label>Your name</mat-label>
      <input
        #inputName
        matInput
        required
        type="text"
        formControlName="name"
        (blur)="updateErrorMessageName()"
      />
      <mat-error *ngIf="errorMessageName">
        {{ errorMessageName() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        #inputEmail
        matInput
        required
        type="email"
        formControlName="email"
        (blur)="updateErrorMessageEmail()"
      />
      <mat-error *ngIf="errorMessageEmail">{{ errorMessageEmail() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        #inputPassword
        matInput
        [type]="hide() ? 'password' : 'text'"
        required
        formControlName="password"
        (blur)="updateErrorMessagePassword()"
      />
      <mat-error *ngIf="errorMessagePassword">
        {{ errorMessagePassword() }}
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint>Minimum 8 characters</mat-hint>
    </mat-form-field>

    <button mat-flat-button type="submit">Sign up</button>
  </form>

  <p>
    Already have an account? Sign in<mat-icon>keyboard_arrow_right</mat-icon>
  </p>
</div>
