<mat-toolbar>
  <img
    src="https://img.icons8.com/?size=100&id=44053&format=png&color=000000"
    routerLink="/"
  />
  <span class="name" routerLink="/">CollabSphere</span>
</mat-toolbar>

<div class="container">
  <p
    style="color: red; margin-bottom: 2rem"
    *ngIf="this.authService.errorMode === true"
  >
    {{ this.authService.errorMessage }}
  </p>
  <form [formGroup]="addForm" (ngSubmit)="onSignUpIn(addForm.value)">
    <mat-form-field appearance="outline" *ngIf="!this.authService.singingIn">
      <mat-label>Your name</mat-label>
      <input
        #inputName
        matInput
        required
        type="text"
        formControlName="name"
        (blur)="updateErrorMessageName()"
      />
      <mat-error *ngIf="errorMessageName">
        {{ errorMessageName() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        #inputEmail
        matInput
        required
        type="email"
        formControlName="email"
        (blur)="updateErrorMessageEmail()"
      />
      <mat-error *ngIf="errorMessageEmail">{{ errorMessageEmail() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        #inputPassword
        matInput
        [type]="hide() ? 'password' : 'text'"
        required
        formControlName="password"
        (blur)="updateErrorMessagePassword()"
      />
      <mat-error *ngIf="errorMessagePassword">
        {{ errorMessagePassword() }}
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        type="button"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint *ngIf="!this.authService.singingIn"
        >Minimum 8 characters</mat-hint
      >
    </mat-form-field>

    <button
      class="signUpBtn"
      mat-flat-button
      type="submit"
      [disabled]="addForm.invalid"
    >
      Sign {{ !this.authService.singingIn ? "Up" : "In" }}
    </button>
  </form>

  <button
    *ngIf="!this.authService.singingIn; else signIn"
    class="switchText"
    type="button"
    (click)="toggleSignIn()"
  >
    Already have an account? Sign in<mat-icon>keyboard_arrow_right</mat-icon>
  </button>

  <ng-template #signIn>
    <button class="switchText" type="button" (click)="toggleSignUp()">
      Don't have an account? Sign up<mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ng-template>
</div>
