<mat-toolbar>
  <img
    src="https://img.icons8.com/?size=100&id=44053&format=png&color=000000"
    alt=""
  />
  <span class="name" style="cursor: default">CollabSphere</span>
  <span class="example-spacer"></span>
  <button
    *ngIf="this.realtimeService.sharingMode === false; else sharingMode"
    mat-button
    class="share-btn"
    (click)="onShare()"
  >
    <mat-icon>share</mat-icon> Share
  </button>
  <ng-template #sharingMode
    ><button mat-button class="share-btn" (click)="onUnshare()">
      <mat-icon>share</mat-icon> Share
    </button></ng-template
  >
  <button mat-flat-button type="submit" (click)="onSaveBtn()">Save</button>
  <button
    mat-icon-button
    type="button"
    class="example-icon"
    (click)="goToDocs()"
  >
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
