.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 2rem;
  background-color: #dbe4ff;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

.example-icon {
  margin-left: 1rem;
}

.share-btn {
  background-color: #b0c4ff;
  margin-right: 0.5rem;
}

img {
  height: 2rem;
  width: 2rem;
}
