<mat-toolbar>
  <img
    src="https://img.icons8.com/?size=100&id=44053&format=png&color=000000"
    alt=""
  />
  <span class="name">CollabSphere</span>
  <span class="example-spacer"></span>
  <button mat-button class="share-btn"><mat-icon>share</mat-icon> Share</button>
  <button mat-flat-button type="submit" (click)="onSaveBtn()">Save</button>
  <button
    mat-icon-button
    type="button"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="goToDocs()"
  >
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
