.box {
  margin: 4rem 5rem 0 5rem !important;
  padding-bottom: 2rem;
}

.container {
  max-width: 100%;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  position: absolute;
  top: 45%;
  right: 45%;
}
