@use "@angular/material" as mat;

.box {
  margin: 4rem 5rem 0 5rem !important;
}

.container {
  margin: 4rem 5rem 0 5rem !important;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  position: absolute;
  top: 50%;
  right: 50%;
}
