.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: rgb(238, 241, 255);
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

img {
  height: 2rem;
  width: 2rem;
}

.btn-signup {
  margin-left: 1rem;
}

.btn-signin {
  background-color: rgba(219, 228, 255, 1);
}

.starter-page {
  height: 100vh;
}

.hero {
  height: calc(100vh - 64px - 8rem);
  background: rgb(255, 218, 245);
  background: radial-gradient(
    circle,
    rgba(255, 218, 245, 1) 0%,
    rgba(219, 228, 255, 1) 93%
  );
  display: flex;
  flex-direction: column;
  padding: 8rem 1rem 0 1rem;
  align-items: center;
}

h1,
h6 {
  color: rgb(112, 55, 225);
  font-weight: 600;
  text-align: center;
}

h6 {
  opacity: 70%;
  margin-top: 2rem;
}

.btn-start {
  margin-top: 3rem;
  font-size: 1.3rem;
  padding: 2rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  position: absolute;
  bottom: 5%;
  text-align: center;
}

.icon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  fill: rgba(68, 89, 252, 0.448);
}
